.img-profile {
  max-width: 80%;
}

.sidebar {
  grid-area: sidebar;
}

.msg-content {
  grid-area: msg-content;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "sidebar msg-content msg-content"
    "sidebar msg-content msg-content";
}
