body {
  /* background-color: rgba(58, 58, 58, 0.714); */
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:rgb(74, 82, 66);
}
a:active {
  text-decoration: none;
}

.update-container {
  border: 1px solid rgba(239, 241, 238, 255);
  min-height: 550px;
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}

.update {
  margin: 5rem auto;
}

.details-container {
  /* max-width: 60%; */
  margin: auto;
}

.header {
  background-color: rgba(164, 226, 117, 255);
  border-radius: 5px 5px 0px 0px;
  max-height: 90px;
  flex: 0 0 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  margin: 13px 25px;
}

.content-container {
  display: flex;
  padding: 1rem;
  margin: auto 3rem;
  flex-wrap: wrap;
  align-items: center;
}

.comments-container {
  display: flex;
  max-width: 70%;
  margin: 0 auto 3rem;
  flex-wrap: wrap;
  flex-direction: column;
}

.text-container {
  max-width: 60%;
}

img {
  width: 200px;
  height: 200px;
}
.img-container {
  display: flex;
  flex-direction: column;
}

.img-container {
  color: rgba(16, 16, 70, 0.81);
}

.info-container {
  margin: 4em;
}

.button-container {
  margin: 3rem 0.2rem 2rem 10rem;
  margin-bottom: 0.3em;
}

.btn {
  border-radius: 16px;
  margin: 4px 2px;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-white {
  background-color: rgba(237, 237, 237, 0.762);
}

.btn-green {
  background-color: rgba(164, 226, 117, 255);
}

.comments {
  flex: 0 0 100%;
  display: flex;
}

.btn-mgn {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}

.btn-comments {
  margin-left: inherit;
}

.comment {
  border: 1px solid black;
  background-color: rgb(183, 193, 223);
}

.comment-id {
  border-bottom: 1px solid black;
}
.updates-container {
  margin: 5rem;
  border: 0.5px solid gray;
  padding: 1rem;
}

.home-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
}

.home-card {
  border: 1px solid rgba(164, 226, 117, 255);
  border-radius: 5px;
  background-color: rgba(164, 226, 117, 255);
  margin: 5px;
  padding: 2rem;
  width: 180px;
}

.bgdark {
  background-color: rgb(74, 82, 66);
}

.main-home {
  padding: 2rem;
}

.menu-container {
}

.d-wrap {
  display: flex;
  flex-wrap: wrap;
}

.home-title {
  margin: auto;
  padding: 2px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  border: 1px solid rgba(239, 241, 238, 255);
  min-height: 550px;
  max-width: 70vw;
  display: flex;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}

.main-title {
  margin: 5px;
  text-align: center;
}

.hub-container {
  display: flex;
  flex-wrap: wrap;
}

.form-container{

}