.msg-container {
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sub-btn {
  background-color: #faeef0;
  color: #f974ae;
  margin: 0.5rem auto;
  max-width: 50%;
}

.msg-form {
  display: flex;
  flex-direction: column;
}

.msg-form input {
  min-height: 5rem;
  color: pink;
}

ul {
  padding: 0.5rem;
}

.li-msg-container {
  background-color: rgb(245, 240, 241);
  margin: 0.2rem;
}

.li-msg-container p {
  padding: 0.8rem;
}

.li-msg-container a {
  margin-bottom: 5px;
  color: #f974ae;
}

.msg-action {
  margin: 15px;
}
